*{
    margin:0;
    
}

body{

    font-family: arial;
}
.header__container{

    width: 100%;
}
.container{
    width: 90%;
    margin: 0 auto;

}

.img__logo{
    width:400px;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.nav{
    /*margin-bottom: -130px;*/
}

.nav__container{
    width: 100%;
    display: flex;
   
}

.nav__link{
    padding:15px;
    text-decoration: none;
    font-size: 20px;
   
}

/******* BANNERS *******/

.banner__container{
    /*margin-top: -130px;*/
    display:flex;
    flex-direction: column-reverse;
    width: 100%;

      
}


.text__container{
   
    display: flex;
    flex-direction:column;
    /*justify-content: end;*/
    margin-top: 50px;
    gap: 30px;
    width:100%;
    
}

        .titulo__banner{

            font-size: 60px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width:100%;
        }

        .parrafo__banner{
            font-family:Arial, Helvetica, sans-serif;
            font-size: 45px;
            width:100%;
            
        
        
        }

        .link__banner{
            text-decoration: none;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 35px;

            color:white;
            background-color: blue;
            width: 300px;
            height: 80px;
            
            text-align: center;
            align-content: center;
            margin-top: 55px;
            margin-bottom: 65px;
        }

.fig__banner{
    margin-top:50px;

}

    .img__banner{

        width: 900px;
    }
/********************************************/


/****************** CAJAS ******************/
.cajas__container{
    
    background-color: blue;
    display: flex;
   align-items: center;
   margin-top: -4px;

}

.text__caja__container{

    background-color: blue;
    width: 250px;
    height: 200px;
    color: #ffff;
    text-align: center;
    align-content: center;
}

.caja__titulo{

    font-size: 40px;
}

.caja__parrafo{

    font-size: 15px;
}

.lineav{
    border-left: 2px solid white;
    height: 60px;
}


/**********************media**********************/

@media(min-width:800px){


    .container{
        width: 80%;
        margin: 0 auto;
    
    }

    .img__logo{
        width:200px;
        margin-top: 2em;
        margin-bottom: 0.5em;
    }

    .banner__container{
        /*margin-top: -130px;*/
        display:flex;
        flex-direction: row;
        width: 100%; 
    }
    

   /*********************************/
   .text__container{
   
  
    justify-content: end;
  
    
}
        .titulo__banner{

            font-size: 40px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width:100%;
        }

        .parrafo__banner{
            font-family:Arial, Helvetica, sans-serif;
            font-size: 20px;
            width:100%;
        }

        .link__banner{
            text-decoration: none;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;

            color:white;
            background-color: blue;
            width: 150px;
            height: 40px;
            
            text-align: center;
            align-content: center;
            margin-top: 35px;
            margin-bottom: 35px;
        }

        .fig__banner{
        margin-top:-150px;
        }

        .img__banner{

        width: 460px;
        }
   /*********************************/
}
